.res-section {
    padding-top: .5rem;

    .container {
        background-color: white;
        padding: 6rem 5rem;
        border-radius: 8px;
        border: solid 1px #eee;

        .noti-link {
            padding: 1rem 2.5rem;
            border: solid 1px #eee;
            text-decoration: none;
            align-items: center;
            flex: 1;

            .flex-grow-1 {
                @media only screen and (max-width: 600px) {
                    flex-direction: column !important;
                }

            }

            h3{
                font-weight: 600;
            }

            &:hover {
                background-color: #f5f8fa;
                cursor: pointer;
            }
            img {
                width: 5rem;
                height: 5rem;
                margin-right: 1.5rem;
            }
        }
        .noti-link:not(:last-child) {
            border-bottom: none;
        }
        .notvisited {
            background-color: #fafafa;
        }

        .nav-item {
            font-size: 1.6rem;
            color: #333333;
        }
        .active {
            color: black !important;
            font-weight: bold;
        }
    }
    .noti-link-wrapper {
        .form-check {
            width: 3%;
            padding: 2rem;
        }
        @media only screen and (max-width: 600px) {
            flex-direction: column !important;
        }
    }
}