.userSearchResult-item {
        border: solid 1px #e2e2e2;
        padding: 1rem 2rem;
        border-radius: 4px;
        
        .btn-outline-dark {
            &:hover {
                background-color: transparent !important;
                color: black;
            }
        }
        h6 {
            margin-bottom: 0;
            margin-left: .6rem;
            font-size: 1.5rem;
        }
    &:not(:first-child) {
        border-top: none !important;
    }
}